body {
    margin: 0;
    background-color: white;
    font-family: "Work Sans" sans-serif;
    font-weight: 400;
}

/*
div {
    margin: 0 auto;
    width: 100%;
    border-bottom: 5px solid lime;
}
*/
/*ince ayar sonra*/
header {
    background: black;
    height: 58px;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    width: 100%;

}

header::after {
    content: "";
    display: table;
    clear: both;
}


nav {

    margin: auto;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    list-style: none;
}


nav li {
    color: aliceblue;
    position: relative;
}


nav li a {
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

nav li a:hover {
    color: red;
}

nav li a:before {
    content: '';
    display: block;
    height: 5px;
    background-color: yellow;
    position: absolute;
    top: -5px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav li a:hover::before {
    width: 100%;
}

.sidebar {
    margin: 58px 0;
    width: 15%;
    background: rgb(0, 52, 52);
    height: 100%;
    padding-bottom: 10px;
    padding-left: 3%;
    display: block;
    position: fixed;

    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: rgb(0, 38, 38);
    /* Black */
    overflow-x: hidden;
    color: white;
    /* Disable horizontal scroll */
}

/*
.logo {
    height: 58px;
    width: 100%;
}*/

.skills {
    font-size: large;
    list-style: none;
    padding: 0 10px;
}

.main {
    font-size: medium;
    margin: 68px 0 0 0;
    width: 82%;
    background: cyan;
    height: 110%;
    display: block;
    position: fixed;
    left: 18%;
    padding: 0% 0% 0% 0%;
    z-index: -1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    background-color: rgb(0, 0, 0);
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
}

.curvedBox {
    /*center the box*/
    padding: 0;
    margin: 0 auto;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 70%;
    height: 80%;
    background-color: #00aeff;
}


.main2 {
    font-size: medium;
    margin: 68px 0;
    width: 100%;
    background: cyan;
    height: 110%;
    display: block;
    position: fixed;
    z-index: -1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    background-color: rgb(0, 0, 0);
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
}

.curvedBox2 {
    /*center the box*/
    margin: 0 auto;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 10px;
    /*Let the box be the 75 percent of the window width*/
    width: 70%;
    height: 80%;
    /*Let the box be the 75 percent of the window height*/
    background-color: #00aeff;
}